<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页</title>
    <link rel="stylesheet" href="lib/weui.css"/>
    <link rel="stylesheet" href="css/example.css"/>
    <link rel="stylesheet" href="lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css"/>
</head>
<body ontouchstart>
<div class="container">
    <div class="page__bd page__bd_footer">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">
                <div class="page__bd lh0">
                    <img class="full-img" src="./images/pic_article.png">
                </div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title fontc-black">所有的门店</h4>
                        <p class="weui-media-box__desc">为你精选的门店</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <a href="store_info.html">
                        <div class="page__bd lh0">
                            <img class="full-img br10" src="./images/pic_article.png">
                        </div>
                        <h4 class="weui-media-box__title fontc-black">黄金龙广场店</h4>
                        <p class="weui-media-box__desc">
                            <i class="fa fa-map-marker "></i>
                            杭州西湖天目山路杭州西湖天目山路杭州西湖天目山路杭州西湖天目山路
                        </p>
                    </a>
                </div>
                <div class="weui-media-box weui-media-box_text">
                    <a href="store_info.html">
                        <div class="page__bd lh0">
                            <img class="full-img br10" src="./images/pic_article.png">
                        </div>
                        <h4 class="weui-media-box__title fontc-black">黄金龙广场店</h4>
                        <p class="weui-media-box__desc">
                            <i class="fa fa-map-marker "></i>
                            杭州西湖天目山路杭州西湖天目山路杭州西湖天目山路杭州西湖天目山路
                        </p>
                    </a>
                </div>
            </div>
            <div class="weui-panel__ft">
                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>

        <div class="footer-weui-tab">
            <div class="weui-tab">
                <div class="weui-tabbar">
                    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                        <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">剪发</p>
                    </a>
                    <a href="order_list.html" class="weui-tabbar__item">
                        <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">订单</p>
                    </a>
                    <a href="user_center.html" class="weui-tabbar__item">
                        <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">个人</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</body>
</html>